---
layout: main.njk
---

<section>
  <h1 class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover" style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url({% imageUrl 'src/images/good-mews.jpeg' %})
          ">
    <div>Carrie & Truman</div>
    <div>are having a baby</div>
  </h1>

  <div class="max-w-4xl mx-auto px-4">
    <div class="max-w-4xl mx-auto prose py-12 px-4">
      <p class="text-2xl md:text-4xl text-center font-heading">
        A new tiny human is expected in early October
      </p>

      <p class="text-xl">
        We're pretty excited; Catballs and Tuuli will be too, but probably not until they start dropping food on the floor.  In the meantime we have some preparations to make, and a party to throw.
      </p>      
    </div>
    <div class="max-w-4xl mx-auto prose py-12 px-4">
      <p class="text-2xl md:text-4xl text-center font-heading">
        Baby-Q on the afternoon of Sunday, July 28th
      </p>

      <p class="text-xl">
        We've reserved a shelter at Riverside Park and are planning a chill hang-out with plenty of food and yard games.  We'd love it if you could join us.
      </p>
      <p class="text-xl">
        Gifts are appreciated if that's part of your love language, but we'll be thrilled just to see you.  If you like, we love gently used stuff and have listed a few things in the registry below.  If you do bring a gift, please leave it unwrapped.
      </p>

      <p class="text-2xl md:text-4xl text-center font-heading">
        Please RSVP
      </p>

      <form
        id="baby-rsvp"
        action="https://formspree.io/f/mqkrvbpe"
        class="flex flex-col border-b mb-2"
        method="POST"
      >
        <div class="md:flex md:items-center md:mx-auto">
          <div class="flex flex-wrap -mx-3 mb-6 items-center">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Name
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="rsvp-name" name="rsvp-name" type="text" placeholder="">
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Number of Folks
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="rsvp-number-of-folks" name="rsvp-number-of-folks" type="text" placeholder="">
            </div>
          </div>
          <div class="md:flex md:items-center md:ml-6 -mb-1">
            <button class="shadow bg-dark hover:bg-gray-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
              Submit RSVP
            </button>
          </div>
        </div>
        <div class="md:flex md:items-center md:mx-auto">
          <p id="baby-rsvp-status" class="my-0 py-0"></p>
        </div>
      </form>

      <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 pr-2 mt-8">
          <div class="text-2xl">When</div>
          <div class="">Sunday, July 28th from 12pm - 3pm</div>
          <div class="text-2xl">Where</div>
          <div class="">Riverside Park, Island Shelter</div>
          <div class="text-2xl">Directions</div>
          <div>Enter park at Guild St NW / Monroe Ave NE, follow all the way to the end (straight, then right, shelter will be at north end near public restroom)</div>
          <div class="text-2xl">Registry</div>
        </div>
        <div class="md:w-1/2 pl-2">
          <img class="my-0" src="{% imageUrl 'src/images/riverside.png' %}" />
        </div>
      </div>   
    </div>
  </div>
</section>


<script>
  var form = document.getElementById("baby-rsvp");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("baby-rsvp-status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Thanks!  Can't wait to see you!";
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Oops! There was a problem.  Please try again."
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem.  Please try again."
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
