---
layout: main.njk
---

<section>
  <h1 class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover" style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url({% imageUrl 'src/images/good-mews.jpeg' %})
          ">
    <div>We're having</div>
    <div>a baby</div>
  </h1>

  <div class="max-w-4xl mx-auto px-4">
    <div class="max-w-4xl mx-auto prose py-12 px-4">
      <p class="text-2xl md:text-4xl text-center font-heading">
        Follow along.
      </p>

      <p class="text-xl">
        Check out the places we've visited below. We'll post updates periodically.
      </p>
    </div>
  </div>
</section>
