---
title: Carrie & Truman
---

<!doctype html>
<html lang="en">
  <head>
    {% favicon './src/images/favicon.svg' %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css2?family=Amatic+SC&amp;family=Syne&amp;family=Rubik&amp;display=swap">
    <style>{% include "main.css" %}</style>
  </head>
  <body class="bg-gray-100">
    <header>
      <nav class="max-w-4xl mx-auto md:flex justify-between px-4 md:py-4 font-heading text-center md:text-left text-xl">
        <a class="pb-4 md:pb-0 inline-block" href="/">October 13th, 2020</a>
        <div class="flex justify-between">
          <a class="mx-2" href="/">Home</a>
          <a class="mx-2" href="/journal">Journal</a>
          <a class="mx-2" href="/send-your-love">Send Your Love</a>
          <a class="mx-2" target="_blank" href="https://photos.carrie-truman.fyi">Photos</a>
        </div>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="bg-dark p-8">
      &nbsp;
    </footer>
  </body>
</html>
